@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@font-face {
  font-family: 'dancing script';
  src: url(/DancingScript-VariableFont_wght.ttf);
}
html{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #bfb6fb;;
  margin: 0;
  padding: 0;
}

h1{
  font-family: "dancing script";
  text-align: center;
  font-size: 5rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap : 50px;
  margin-right: 10%;
  margin-left: 10%;
  flex-grow: 1;
  height: 65vh;
}

.videoPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popupTrigger1:checked + label + .videoPopup{
  display: flex;
}

#popupTrigger2:checked + label + .videoPopup{
  display: flex;
}

#popupTrigger3:checked + label + .videoPopup{
  display: flex;
}

#closeBtn {
  position: absolute;
  font-size: 30px;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 100%;
  height: 100%;
}

video {
  max-width: 80%;
  max-height: 80%;
}

#videoThumbnail{
scale: 1;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#videoThumbnail:hover{
  scale: 1.1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover-zone {
  position: relative;
  display: inline-block;
}

.play-button{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url(/playbutton.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.play-button:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.hover-zone:hover .play-button{
  display: block;
  scale: 1.1;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.hover-zone:hover #videoThumbnail{
  scale: 1.1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}